<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <style type="text/css">
        .btn-color
        {
            background-color : #0094ff
        }
    </style>
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        @{
            var controller = ViewContext.Controller.ValueProvider.GetValue("controller").RawValue;
            var action = ViewContext.Controller.ValueProvider.GetValue("action").RawValue;
        }

        $(function() {
            var page = JSBP.@(controller + "." + action);
            if(page) {
                page.init();
            }
        });        
    </script>
</body>
</html>
